.app{
    &-main{
        &_body{
            width: 100%;
            padding-left: 260px;
        }
        &_registration{
            padding-left: 450px;

        }
    }

    &-wrapper{
        display: flex;
        flex-direction: row;
        flex: 1 1;
    }

    &-header{
        width: 100%;
        &_date{
            .icon{
                fill: $headings-color;
                margin-right: 8px;
            }
        }
    }
}

.app-min-height_100vh{
    min-height: 100vh;
}

@include media-breakpoint-down(sm){
    .app{
        &-main{
            &_body{
                width: 100%;
                padding-left: 0;
                padding-right: 0;
                margin-bottom: 80px;
                margin-top: 56px;
            }
            &_registration{
                padding-left: 0;
                padding: 24px;
            }
        }
    }

    .w{
        &-sm{
            &-100{
                width: 100%;
            }
        }
    }


    // All agent styles

    .top{
        &-bar{
            position: fixed;
            z-index: 1030;
            width: 100%;
        }
    }
}



// Global
.pagination{
    flex-wrap: wrap;
}