.fw{
    &-regular{
        font-weight: 400;
    }
    &-medium{
        font-weight: $font-weight-medium;
    }
}

.text{
    &-overline{
        font-size: 0.75rem;
        font-weight: bold;
        letter-spacing: 0.15rem;
        text-transform: uppercase;
    }
}

.font{
    &-size{
        &_14{
            font-size: 14px !important;
        }
        &_12{
            font-size: 12px !important;
        }
        &_10{
            font-size: 10px !important;
        }
    }
}