.app{
    &-sidebar{
        z-index: $zindex-fixed;

        &_navbar{
            width: 260px;
            background: #45370D;
        }

        &_registration{
            width: 450px;
        }

        &_sm{
            height: 50px;
            .menu-wrapper{
                display: block;
            }
        }
    }
}